.btn {
  font-size: 13px;
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  text-align: center;
  line-height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 67px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-login {
  background: #5bc5a7;
  color: #fff;
  text-shadow: 0 -1px 0 #318970;
  margin-right: 4px;
  margin-left: 5px;
}

.btn-login:hover {
  background-color: darken(#5bc5a7, 5%);
}

.btn-signup {
  background: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #c83400;
  margin-left: 5px;
}

.btn-signup:hover {
  background-color: darken(#ff652f, 5%);
}

.btn-large {
  padding: 11px 15px;
  margin-top: 9px;
  font-size: 24px;
  width: auto;
  display: inline-block;
}

.btn-long {
  width: auto;
}

#btn-login-large {
  background: #ff652f;
  color: #fff;
  text-shadow: 0 -1px 0 #318970;
  font-size: 18px;
}

#btn-login-large:hover {
  background-color: darken(#ff652f, 5%);
}

.btn-profile {
  padding-top: 7px;
  padding-bottom: 6px;
  border: none;
}

.btn-profile:hover {
  background-color: darken(#5bc5a7, 5%);
}
