@import '../colors';

.dropdown-enter {
  max-height: 0;
  transition: max-height 150ms ease;
  overflow: hidden;
}

.dropdown-enter.dropdown-enter-active {
  height: auto;
  max-height: 100px;
}

.dropdown-leave {
  max-height: 100px;
  transition: max-height 150ms ease;
}
.dropdown-leave.dropdown-leave-active {
  overflow: hidden;
  max-height: 0;
}

.instant-dropdown {
  position: absolute;
  top: 32px;
  right: 10px;
  padding: 2px;
  z-index: 10;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.instant-dropdown > li {
  color: #333;
  padding: 4px 28px 4px 12px;
  text-align: left;
}

.instant-dropdown > li:hover {
  background: $mint;
  color: #fff;
}

.expense-detail-dropdown-enter {
  max-height: 0;
  transition: max-height 150ms ease;
  overflow: hidden;
}

.expense-detail-dropdown-enter.expense-detail-dropdown-enter-active {
  height: auto;
}

.expense-detail-dropdown-leave {
  transition: max-height 150ms ease;
}
.expense-detail-dropdown-leave.expense-detail-dropdown-leave-active {
  overflow: hidden;
  max-height: 0;
}
