.testclass {

}

.testclass > h6 {
  color: blue;
}

#testclass-right-sidebar {
  width: 180px;
}
// TODO: Remove testclass

.wrapper {
  margin: 0 0 -114px;
  min-height: 100%;
  height: auto !important;
  display: flex;
}

.content-block {
  margin: auto;
  width: 50%;
}

.input-text {
  border: 1px solid #ccc;
  border-radius: 3px;
}

strong {
  font-weight: bold;
}

.logo {

}

.logo-large {
  padding: 40px;
}

.error-message {
  border-color: #b34;
  background: #c45;
  color: #fff;
}

.error-block {
  border-radius: 1px;
  padding: 10px;
}

.full-display-container {
  display: flex;
  position: relative;
  top: 34px;
  max-width: 960px;
  margin: auto;
}

.center-panel {
  width: 600px;
  height: 95vh;
  border: 1px solid blue;
}

.center-panel > header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
