.wrapper {
  margin: 0 0 -114px;
  min-height: 100%;
  height: auto !important;
  display: flex;
}

.content-block {
  margin: auto;
}

.input-text {
  border: 1px solid #ccc;
  border-radius: 3px;
}

strong {
  font-weight: bold;
}
