@import '../colors';

.wrapper {
  margin: 0 0 -114px;
  min-height: 100%;
  height: auto;
  display: flex;
}

.content-block {
  margin: auto;
  width: 50%;
}

.input-text {
  border: 1px solid #ccc;
  border-radius: 3px;
}

strong {
  font-weight: bold;
}

.logo {

}

.logo-large {
  padding: 40px;
}

.error-message {
  border-color: #b34;
  background: #c45;
  color: #fff;
}

.error-block {
  border-radius: 1px;
  padding: 10px;
}

.full-display-container {
  display: flex;
  position: relative;
  top: 34px;
  max-width: 1042px;
  margin: auto;
}

.center-panel {
  width: 600px;
  height: 95vh;
  border: 1px solid $darkgray;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.center-panel header {
  display: flex;
  justify-content: space-between;
  background: $gray;
  padding: 10px;
  border-bottom: 1px solid $darkgray;
}

.center-panel header h2 {
  font-weight: bold;
  font-size: 24px;
}

.center-panel button {
  padding: 10px 15px;
  margin-left: 10px;
  font-size: 15px;
}

.center-panel-items {

}
