@import './colors';

.dashboard-summary {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  color: $darkergray;
  font-size: 15px;
}

.dashboard-summary > div {
  width: 170px;
  margin: auto;
  text-align: center;
  padding: 0 10px;
  border-right: 1px solid $darkgray;
  line-height: 1.3;
}

.dashboard-summary > div:last-child {
  border: none;
}

.dashboard-main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list-titles {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: auto;
  padding: 10px;
  color: $darkergray;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.dashboard-list {
  width: 300px;
}

.credit {
  color: $mint;
}

.debt {
  color: $orange;
}

.dashboard-list li {
  padding: 5px 20px;
  line-height: 1.2;
  height: 40px;
}

.credit-item {
  border-left: 1px solid $gray;

}

.debt-item {

}
