@import './colors';

.dashboard-summary {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  color: $darkergray;
  font-size: 15px;
}

.dashboard-main {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.list-titles {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  color: $darkergray;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}

.dashboard-list {
  width: 300px;
}

.credit {
  color: $mint;
}

.debt {
  color: $orange;
}

.dashboard-list li {
  padding: 5px 20px;
  line-height: 1.2;
  height: 50px;
}

.credit-item {
  border-left: 1px solid $gray;

}

.debt-item {

}
