#login-btn-container {
  position: relative;
}

#login-dropdown {
  position: absolute;
  top: 39px;
  left: -72px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  text-align: center;
  padding: 8px;
  z-index: 10;
}

.login-dropdown-field {
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
  background-color: #fff;
  width: 210px;
  height: 18px;
  padding: 13px;
  color: #555;
}

.form-container-large {
  display: flex;
  line-height: 36px;
  font-size: 18px;
  width: 50%;
  padding: 0 10px;
  margin: 84px auto;
  position: relative;
}

.form-large {
  margin: auto;
}

.login-large {
  padding-top: 20px;
}

.login-label {
  font-size: 18px;
  line-height: 140%;
  margin: 5px 0;
}

.login-field {
  padding: 4px;
  margin-bottom: 17px;
  font-size: 20px;
  height: 24px;
  width: 260px;
  color: #333;
}

.signup-label {
  font-size: 24px;
  line-height: 140%;
  margin: 16px 0 5px;
}

.signup-field {
  padding: 4px;
  margin-bottom: 17px;
  font-size: 20px;
  height: 28px;
  width: auto;
  color: #333;
}

.signup-name {
  font-size: 32px;
  height: 42px;
}

.invite-form {
}

.invite-form input, .invite-form div {
  margin-bottom: 20px;
}

.invite-form input {
  width: 350px;
}

.invite-form button {
  margin: auto;
}

.invite-form h2 {
  font-weight: bold;
}


.invite {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  margin: auto;
  width: 400px;
  height: 150px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  z-index: 10;
  background: rbga(255, 255, 255, 1);
}

.invite-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(204, 204, 204, 0.75);
}
