@import './colors';

.testclass {
  position: absolute;
  top: 200px;
  margin: auto;
}

// TODO: remove testclass

#login-btn-container {
  position: relative;
}

#login-dropdown {
  position: absolute;
  top: 39px;
  left: -72px;
  background-color: $gray;
  border: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  text-align: center;
  padding: 8px;
  z-index: 10;
}

.login-dropdown-field {
  font-size: 14px;
  text-align: left;
  margin-bottom: 8px;
  background-color: #fff;
  width: 210px;
  height: 18px;
  padding: 13px;
  color: #555;
}

.form-container-large {
  display: flex;
  line-height: 36px;
  font-size: 18px;
  width: 50%;
  padding: 0 10px;
  margin: 84px auto;
  position: relative;
}

.form-large {
  margin: auto;
}

.login-large {
  padding-top: 20px;
}

.login-label {
  font-size: 18px;
  line-height: 140%;
  margin: 5px 0;
}

.login-field {
  padding: 4px;
  margin-bottom: 17px;
  font-size: 20px;
  height: 24px;
  width: 260px;
  color: #333;
}

.signup-label {
  font-size: 24px;
  line-height: 140%;
  margin: 16px 0 5px;
}

.signup-field {
  padding: 4px;
  margin-bottom: 17px;
  font-size: 20px;
  height: 28px;
  width: auto;
  color: #333;
}

.signup-name {
  font-size: 32px;
  height: 42px;
}

.invite {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  margin: auto;
  width: 450px;
  height: 150px;
  border-radius: 4px;
  z-index: 10;
  background: rbga(255, 255, 255, 1);
}

.invite-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background: rgba(204, 204, 204, 0.75);
}

.invite-form {
  position: relative;
  background: $white;
  height: 200px;
  border-radius: 15px;
}

.invite-form > div {
  padding: 0 20px 20px 20px;
}

.invite-form input {
  margin: 25px 0 25px;
  width: 405px;
  padding: 5px;
}

.invite-form button {
  margin: auto;
}

.invite-form h2 {
  font-weight: normal;
  background: $mint;
  color: $white;
  padding: 5px 0 5px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.search-results {
  position: absolute;
  background: $white;
  border: 1px solid $darkgray;
  border-radius: 3px;
  top: 93px;
  width: 405px;
}

.search-results li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $darkgray;
  padding: 5px 10px;
  height: 26px;
  border-radius: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.search-results li:last-child {
  border: none;
}

.search-results li:hover {
  background: $gray;
}

.result-name {

}

.result-email {

}
