@import './colors';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $mint;
  z-index: 9;
  border-bottom: 1px solid #48be9d;
  color: #fff;
  text-shadow: 0 -1px 0 #39a385;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.header-flex {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
  padding: 0 10px;
  position: relative;
  margin: auto;
  box-sizing: border-box;
}

.header-flex a {
  align-self: center
}

.header-flex .login-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.header-flex .login-bar span {
  padding-top: 3px;
}

.alert-bar {
  width: 100%;
  position: absolute;
  top: 49px;
}

.alert-message {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 5px 5px;
}

.alert-message > h5 {
  margin: 12px;
}

.alert-message > button {
  padding: 0 1.5%;
}
