#left-sidebar {
  position: relative;
  padding: 14px 20px 0 0px;
  width: 200px;
  z-index: 3;
  color: #999;
}

#left-sidebar > a > div {
  padding: 4px 8px;
  height: 19px;
  font-size: 15px;
}

#left-sidebar a > div:hover {
  color: darken(#999, 5%);
  background-color: darken(#f6f6f6, 5%);
}

.list-title {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding: 3px 5px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #eee;
  background: #f6f6f6;
  font-size: 11px;
  color: #ccc;
  text-transform: uppercase;
}

.list-title:hover {
  background-color: darken(#f6f6f6, 5%);
}

.friends-list > a {
  display: block;
  height: 19px;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 5px;
  font-size: 14px;
  text-decoration: none;
  text-overflow: ellipsis;
  text-align: left;
}

#left-sidebar i {
  margin-right: 7px;
  padding-left: 4px 8px;
}

.friends-list li {
  padding: 0 5px;
}

.friends-list li:hover {
  color: darken(#999, 5%);
  background-color: darken(#f6f6f6, 5%);
}


#no-friends {
  border: 1px solid black;
}
