.sliding-dropdown-enter {
  opacity: 0.01;
}

.sliding-dropdown-enter.sliding-dropdown-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.sliding-dropdown-leave {
  opacity: 1;
}

.sliding-dropdown-leave.sliding-dropdown-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
