.signup-container {
  line-height: 36px;
  font-size: 18px;
  width: auto;
  max-width: 600px;
  padding-bottom: 50px;
  padding: 0 10px;
  margin: 84px auto;
  position: relative;
}

.signup-form {
  margin: auto;
}

.signup-label {
  font-size: 24px;
  line-height: 140%;
  margin: 16px 0 5px;
}

.signup-field {
  padding: 4px;
  margin-bottom: 17px;
  font-size: 20px;
  height: 28px;
  width: auto;
}

.signup-name {
  font-size: 32px;
  height: 42px;
}
